<div class="card add-professional">
    <h5 class="card-header">Adicionar pagamento</h5>
    <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && savePaymentServicePerformed(f)" #f="ngForm" novalidate>
            <!-- <div class="form-group col-md-2">
                <label for="value">Valor Total</label>
                <input type="text" class="form-control" readonly formControlName="totalValue" name="totalValue">
            </div> -->
            <div class="form-group">
                <label for="paymentForm">Forma de pagamento</label>
                <select [(ngModel)]="servicePerformedPayment.paymentForm" id="paymentForm" name="paymentForm" #paymentForm="ngModel">
                <option [ngValue]="null" disabled>Selecione o genero/option>
                <option *ngFor="let payment of payments" [ngValue]="payment.name">{{ payment.name }}</option>
                </select>
                <div *ngIf="f.submitted && paymentForm.invalid" class="invalid-feedback">
                    <div *ngIf="paymentForm.errors?.['required']">Combustível é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="totalValuePaied">Valor</label>
                <input type="number" [(ngModel)]="servicePerformedPayment.totalValuePaied" id="totalValuePaied" name="totalValuePaied" #totalValuePaied="ngModel" required
                    class="form-control" [ngClass]="{ 'is-invalid': f.submitted && totalValuePaied.invalid }"
                    placeholder="Digite o valor do pagamento">
                <div *ngIf="f.submitted && totalValuePaied.invalid" class="invalid-feedback">
                    <div *ngIf="totalValuePaied.errors?.['required']">Pagamento total é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="installments">Quantidade parcelas</label>
                <input type="number" [(ngModel)]="servicePerformedPayment.installments" id="installments" name="installments" #installments="ngModel" required
                    class="form-control" [ngClass]="{ 'is-invalid': f.submitted && installments.invalid }"
                    placeholder="Digite o número de parcelas">
                <div *ngIf="f.submitted && installments.invalid" class="invalid-feedback">
                    <div *ngIf="installments.errors?.['required']">Número de parcelas é obrigatório</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-add-professional">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-professional" (click)="cleanForm(f)">Cancelar</button>
        </form>
    </div>
</div>

