<form id="add-form" [formGroup] = "professionalForm"  style="margin-top: 20px;margin-left: 400px;margin-right: 400px;" (ngSubmit)="updateProfessional()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4" style="display: inline-block;">Nome</label>
      <input 
        type="text" 
        class="form-control" 
        id="inputEmail4" 
        placeholder="Nome"
        formControlName="name" 
        name="name"
        style="display: inline-block;"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="inputEmail4" style="display: inline-block;">Phone</label>
      <input 
        type="phone" 
        class="form-control" 
        style="display: inline-block;"
        placeholder="Telefone"
        formControlName="phone" name="phone"
      >
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4" style="display: inline-block;">Email</label>
      <input 
        type="email" 
        class="form-control" 
        style="display: inline-block;"
        placeholder="Email"
        formControlName="email" name="email"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="text">Código</label>
      <input 
        type="code" 
        class="form-control" 
        style="display: inline-block;"
        placeholder="Código"
        formControlName="code" name="code"
      >
    </div>
    <!-- <div class="form-group col-md-5">
      <label for="inputBirthdate4">Birthdate</label>
      <input 
        type="text" 
        class="form-control" 

        placeholder="Data nascimento"
        formControlName="birthdate" name="birthdate"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="inputPassword4" 
        placeholder="Password"
      >
    </div> -->
  </div>
  <div class="form-group">
    <div class="form-check">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
  
</form>