<form id="add-form" [formGroup] = "professionalForm"  style="margin-top: 20px;margin-left: 40px;margin-right: 40px;" (ngSubmit)="updateProfessional()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nome</label>
      <input 
        type="text" 
        class="form-control" 
        id="inputEmail4" 
        placeholder="Nome"
        formControlName="name" 
        name="name"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="inputEmail4">Phone</label>
      <input 
        type="phone" 
        class="form-control" 

        placeholder="Telefone"
        formControlName="phone" name="phone"
      >
    </div>
    <div class="form-group col-md-5">
      <label for="inputEmail4">Email</label>
      <input 
        type="email" 
        class="form-control" 

        placeholder="Email"
        formControlName="email" name="email"
      >
    </div>
    <div class="form-group col-md-5">
      <label for="text">Código</label>
      <input 
        type="code" 
        class="form-control" 

        placeholder="Código"
        formControlName="code" name="code"
      >
    </div>
    <!-- <div class="form-group col-md-5">
      <label for="inputBirthdate4">Birthdate</label>
      <input 
        type="text" 
        class="form-control" 

        placeholder="Data nascimento"
        formControlName="birthdate" name="birthdate"
      >
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="inputPassword4" 
        placeholder="Password"
      >
    </div> -->
  </div>
  <div class="form-group">
    <div class="form-check">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
  
</form>