*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.card.add-form {
  margin-top: 120px;
  color: #ffffff;
  background-color: rgb(86, 121, 236);
}

.card-header {
  background-color: rgb(7, 29, 102);
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  text-align: center;
  /* position: fixed; */
  padding: 10% 20% 10% 20%;
  top: 40px;
  right: 0;
  width: 100%;
  padding: 9px 0;
  z-index: 1000;
}

.navbar.navbar-expand-lg.navbar-light.bg-light a {
  color: white;
}

.nav-item.nav-link {
  background-color: rgb(63, 85, 85);
  border-radius: 10px;
  margin-right: 10px; 
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  height: 50px; /* Altura do footer */
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}

.container {
    margin-top: 30px;
}

.breadcrumb {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

.active {
  margin-left: 40%;
}

.add-professional {
    margin-bottom: 30px;
}

.list-professional {
  text-align: center;
} 

.btn-add-professional {
    margin-right: 10px;
}
