.nav-item.nav-link {
  background-color: rgb(63, 85, 85);
  border-radius: 10px;
  margin-right: 10px; 
}
/* You can add global styles to this file, and also import other style files
body{
    padding-bottom: 500px;
}

.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
} */

/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .profissionais-lista {
    list-style: none;
    padding: 2em;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 1em;
  }
  
  .profissional-item {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-gap: 10px;
  }
  
  .profissional-item span {
    display: block;
  }
  
  .profissional-id {
    font-weight: bold;
  }
  
  /* Estilo para dispositivos com largura menor que 600px */
  /* @media screen and (max-width: 600px) {
    .profissional-item {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      text-align: center;
    }
  
    .profissional-item span {
      margin-bottom: 5px;
    }
  
    .profissional-id {
      font-size: 1.2em;
      font-weight: bold;
    }
  }  */
.container {
    margin-top: 30px;
}

.breadcrumb {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

.active {
  margin-left: 40%;
}

.add-professional {
    margin-bottom: 30px;
}

.list-professional {
  text-align: center;
} 

.btn-add-professional {
    margin-right: 10px;
}

/* .navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    
    display: flex;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
